.team-element {
    height: 70px;
    justify-content: center;
    border-color: black;
    border: 2px;
}

.team-photo {
    float: left;


}

.team-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    /* list-style: */
}

.deleteIcon {
    margin-right: 10%;
    margin-top: 3px;
}

.deleteIcon:hover, .addIcon:hover {
    cursor: pointer;
}
