html, body, #root, .container-fluid, .loginRow {
  height: 100%;
}

#leftLogin {
  color: #ffffff;
}



.colorful {
  width: 100%;
  height: 100%;
  background: linear-gradient(-45deg, #40da92, #4f7fc7, #23d5a8, #127ebd);
  background-size: 400% 400%;
  animation: gradient 50 ease infinite;
  color: #ffffff;
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

.vertShift {
  margin-top: 20%
}

#loginSubmit {
  width: 100%;
  margin-bottom: 8px;
}

.loginLink, .loginLink:hover, .loginLink:focus {
  color: #00CFAA;
}

#copyright {
  margin-top: 50px;
  color: rgb(158, 157, 157);
}


#register {
  color: #00CFAA;
  background: none!important;
  border: none;
  padding: 0!important;
  cursor: pointer; 
}

#register:hover, #register:focus {
  text-decoration: underline;
  color: #00CFAA;
}

#iconP {
  margin-bottom: 0.5rem;
}

span {
  margin-left: 0px;
}
