.registrationDiv {
  border-radius: 15px;
  border: solid green;
  width: 40%;
  text-align: center;
  margin: auto;
  margin-top: 50px;
  background-color: rgb(224, 224, 224);
}

label {
  display: block;
  margin: 10px;
}

input {
  margin-left: 5px;
}

body {
  background-color: grey;
}